@model List<ApplicationCore.Models.MovieCardModel>

@{
    ViewData["Title"] = "Home Page";
}

<h2>
    Top Grossing Movies
</h2>

@foreach (var movie in Model)
{
    <h3>MovieId: @movie.Id</h3>
    <h3>MovieId: @movie.Title</h3>
}
